<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>monthlySubscription</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div id="outer">
  <div class="button_slide slide_down">1 Month Plan </div>
  <br /> <br /><br />
  <div class="button_slide slide_right">1 Year Plan </div>
  <br /> <br /><br />
  <div class="button_slide slide_left">5 Year Plan </div>
  <br /> <br /><br />
  <div class="button_slide slide_diagonal">Lifetime Access </div>
  <br /> <br /><br />
</div>


  </body>
</html>
